[submodule "libwebp"]
	path = libwebp
	branch = "v1.3.2"
	url = https://github.com/webmproject/libwebp.git
	ignore = all
[submodule "emsdk"]
	path = emsdk
	branch = "3.1.56"
	url = https://github.com/juj/emsdk.git
	ignore = all
